
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #333;
    background-image: url('/static/img/quart.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;

    
    background-image:url ("{% static 'img/eruption.jpg' %}") ;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: rgb(12, 9, 9);
    padding: 10px 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: rgb(19, 16, 16);
    position: fixed;
    bottom: 0;
    width: 100%;
}