{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Admin - Customizado{% endblock %}

{% block userlinks %}
    {{ block.super }}
    <nav id="user-tools">
        {% if user.is_authenticated and user.tipo_usuario == 'ADMIN' %}
            <!-- Botão de Vendas -->
            <a href="{% url 'vendas:venda_rapida' %}" class="custom-button">
                <i class="fas fa-cash-register"></i> VENDAS
            </a>
            
            <!-- Botão de Estoque -->
            <a href="{% url 'produtos:base_produto' %}" class="custom-button">
                <i class="fas fa-warehouse"></i> ESTOQUE
            </a>
            
            <!-- Botão de Logout -->
            <li>
                <form method="post" action="{% url 'usuarios:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="button-link">Sair</button>
                </form>
            </li>
        {% endif %}
    </nav>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
{% endblock %}
